body {
  background-color: #ffffff;
}

.grid {
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 492px;
  width: 575px;
  grid-gap: 2px;
}

.grid div {
  height: 80px;
  width: 80px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

.player-one {
  background-color: red;
  border-radius: 40px;
}

.player-two {
  background-color: blue;
  border-radius: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-image {
  width: 50px;
  height: auto;
}
.logo-text {
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-style: none;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
.navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.navbar a:hover {
  color: #94a2fb;
}
.navbar {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  display: flex;
  font-family: Poppins;
  font-size: 25px;
  justify-content: space-around;
}
.nav-list {
  list-style-type: none;
}
.nav-list .list-item {
  display: inline-block;
  padding: 15px 15px;
}
/* Hide the menu on larger screens */
.menu {
  display: none;
}
/* Create the menu  */
.menu-line {
  background-color: #94a2fb;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
}
/* Stule the footer and footer elements */
.footer-logo {
  margin-top: 0;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
.footer-text {
  margin-top: 0;
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
}
.webmaster {
  text-decoration: none;
}
.footer-info {
  margin: 0;
  width: 100%;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.03em;
}
.webmaster {
  margin: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.03em;
}
.webmaster-contact {
  margin-top: 13px;
}
.footer-container-fluid {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.main-content-fluid {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}
h1 {
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-style: normal;
}
h3 {
  font-family: Poppins;
  font-weight: 200;
  letter-spacing: 0.03em;
  font-style: normal;
}
p {
  width: 90%;
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}

/* Hide the menu on larger screens */
.menu {
  display: none;
}
.menu-line {
  background-color: #94a2fb;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
}
.modal-header,
h4,
.close {
  background-color: #92a4fb;
  color: white !important;
  text-align: center;
  font-size: 20px;
}
.modal-footer {
  background-color: #f9f9f9;
}

/* Media query for smaller devices, hamburger menu */
@media all and (max-width: 480px) {
  /* Center the main content, justify the text on small screens */
  .main-content-fluid {
    display: flex;
    margin-bottom: 110px;
    text-align: justify;
  }
  /* Style the navigation and the header */
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .logo-container {
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  /* Show menu */
  .menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 30px;
  }
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 20px;
    display: none;
  }
  .nav-list .list-item {
    display: block;
    border-top: 1px solid black;
    padding: 10px;
  }
  /* Style the footer container and information */
  .footer-container-fluid {
    padding: 10px;
    flex-direction: column;
    width: 100%;
    height: 110px;
  }
  /* Style the logo and logo text */
  .footer-logo {
    margin-top: 5px;
    width: 45px;
    height: auto;
  }
  .footer-text {
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-style: none;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }
  .webmaster-contact {
    padding: 0;
    margin: 0;
  }
  .footer-info {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-weight: 200;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.03em;
  }
  .webmaster {
    font-family: Poppins;
    font-weight: 200;
    font-size: 16px;
    color: #94a2fb;
  }

  h2 {
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0.03em;
    font-style: normal;
    text-align: center;
  }
  h3 {
    font-family: Poppins;
    font-weight: 200;
    letter-spacing: 0.03em;
    font-style: normal;
    text-align: center;
  }
  /* Show the hamburger menu  */
  .active {
    display: block;
  }
}
