body {
     background-color: honeydew;
}

.grid {
     margin: auto;
     border: 1px solid black;
     display: flex;
     flex-wrap: wrap;
     height: 492px;
     width: 575px;
     grid-gap: 2px;
}

.grid div {
     height: 80px;
     width: 80px;
}
h1 {
     text-align: center;
}
h3 {
     text-align: center;
}

.player-one {
     background-color: red;
     border-radius: 40px;
}

.player-two {
     background-color: blue;
     border-radius: 40px;
}